@font-face {
    font-family: "F1";
    src: local("Formula1-Regular-1"),
      url("../../src/fonts/Formula1-Regular-1.ttf") format("truetype");
}
@font-face {
  font-family: "F1Black";
  src: local("Formula1-Black"),
    url("../../src/fonts/Formula1-Black.ttf") format("truetype");
}
@font-face {
  font-family: "F1Wide";
  src: local("Formula1-Wide"),
    url("../../src/fonts/Formula1-Wide.ttf") format("truetype");
}