//Colors 

$red-brand:                        #e10600;
$white-brand:                      #FFFFFF;
$gray-brand:                       #67676d;

//Teams

$red-bull:                        #3671C6;
$mercedes:                        #6CD3BF;
$aston-martin:                    #358C75;
$mclaren:                         #F58020;
$ferrari:                         #F91536;
$alpine:                          #2293D1;
$williams:                        #37BEDD;
$alphatauri:                      #5E8FAA;
$alfa:                            #C92D4B;
$haas:                            #B6BABD;