@import "../../styles/colors";

.drivers {
    background-color: $white-brand;
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    display: grid;
    row-gap: 8px;
    .name::before{
      content: "";
      width: 5px;
      height: 30px;
      margin-right: 8px;
    }
    .red_bull{
      .name::before{
        background-color: $red-bull;
      }
      &:hover {
        border: solid 1px $red-bull;
      }
    }
    .mercedes{
      .name::before{
        background-color: $mercedes;
      }
      &:hover {
        border: solid 1px $mercedes;
      }
    }
    .aston_martin{
      .name::before{
        background-color: $aston-martin;
      }
      &:hover {
        border: solid 1px $aston-martin;
      }
    }
    .mclaren{
      .name::before{
        background-color: $mclaren;
      }
      &:hover {
        border: solid 1px $mclaren;
      }
    }
    .ferrari{
      .name::before{
        background-color: $ferrari;
      }
      &:hover {
        border: solid 1px $ferrari;
      }
    }
    .alpine{
      .name::before{
        background-color: $alpine;
      }
      &:hover {
        border: solid 1px $alpine;
      }
    }
    .williams{
      .name::before{
        background-color: $williams;
      }
      &:hover {
        border: solid 1px $williams;
      }
    }
    .alphatauri{
      .name::before{
        background-color: $alphatauri;
      }
      &:hover {
        border: solid 1px $alphatauri;
      }
    }
    .alfa{
      .name::before{
        background-color: $alfa;
      }
      &:hover {
        border: solid 1px $alfa;
      }
    }
    .haas{
      .name::before{
        background-color: $haas;
      }
      &:hover {
        border: solid 1px $haas;
      }
    }
}