@font-face {
    font-family: "F1";   /*Can be any text*/
    src: local("Formula1-Regular-1"),
      url("./font/Formula1-Regular-1.ttf") format("truetype");
}
body {
    font-family: F1;
    margin: 0;
  }

  main{
    padding-top: 90px !important;
  }
  .site-header { 
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    gap: 10px;
    background: #e10600;
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .site-identity {
    width: 120px;
  }
  
  .site-identity img {
    margin: .6em 0;
    display: inline-block;
    width: 100%;
  }
  
  
  .site-navigation ul, 
  .site-navigation li {
    margin: 0; 
    padding: 0;
  }

  .site-navigation a {
    text-decoration: none;
    color: #FFF;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1em;
  }

  .drivers {
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    display: grid;
    row-gap: 8px;
    .driver-info {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        padding: 10px 30px 10px 10px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
        cursor: pointer;
        transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
        background-color: #fff;
        
        &:hover {
          transform: scale(1.01);
          box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
        }
        .picture {
            max-width: 100%;
            width: 80px;
          }
      }
  }