@font-face {
    font-family: "F1";
    src: local("Formula1-Regular-1"),
      url("./font/Formula1-Regular-1.ttf") format("truetype");
}
@font-face {
  font-family: "F1Black";
  src: local("Formula1-Black"),
    url("./font/Formula1-Black.ttf") format("truetype");
}
@font-face {
  font-family: "F1Wide";
  src: local("Formula1-Wide"),
    url("./font/Formula1-Wide.ttf") format("truetype");
}

body {
    font-family: F1;
    margin: 0;
  }

  main{
    padding-top: 90px !important;
  }
  .site-header { 
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    gap: 10px;
    background: #e10600;
    position: fixed;
    width: 100%;
    z-index: 999;
  }

  .site-identity {
    width: 120px;
  }
  
  .site-identity img {
    margin: .6em 0;
    display: inline-block;
    width: 100%;
  }
  
  
  .site-navigation ul, 
  .site-navigation li {
    margin: 0; 
    padding: 0;
  }

  .site-navigation a {
    text-decoration: none;
    color: #FFF;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1em;
  }

  .drivers {
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 15px 15px 20px;
    display: grid;
    row-gap: 8px;
    .driver-info {
        display: grid;
        grid-template-columns: minmax(40px, 0fr) 1fr 3fr 1fr;
        align-items: center;
        padding: 10px 30px 10px 10px;
        overflow: hidden;
        border-radius: 6px;
        cursor: pointer;
        transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
        background-color: #fff;
        border: solid 1px #67676d;
        column-gap: 2.5em;
        
        &:hover {
          transform: scale(1.01);
        }
        .picture {
            max-width: 100%;
            width: 120px;
          }
      }
      .position{
        font-family: F1Black;
        font-size: 2.625rem;
        line-height: 3rem;
      }
      .name{
        font-size: 22px;
        line-height: 24px;
      }
      .points{
        font-family: F1Wide;
        font-size: 16px;
        line-height: 24px;
      }
  }

  .red_bull{
    &:hover {
      border: solid 1px #3671C6;
    }
  }
  .mercedes{
    &:hover {
      border: solid 1px #6CD3BF;
    }
  }
  .aston_martin{
    &:hover {
      border: solid 1px #358C75;
    }
  }
  .mclaren{
    &:hover {
      border: solid 1px #F58020;
    }
  }
  .ferrari{
    &:hover {
      border: solid 1px #F91536;
    }
  }
  .alpine{
    &:hover {
      border: solid 1px #2293D1;
    }
  }
  .williams{
    &:hover {
      border: solid 1px #37BEDD;
    }
  }
  .alphatauri{
    &:hover {
      border: solid 1px #5E8FAA;
    }
  }
  .alfa{
    &:hover {
      border: solid 1px #C92D4B;
    }
  }
  .haas{
    &:hover {
      border: solid 1px #B6BABD;
    }
  }