body {
    font-family: Helvetica;
    margin: 0;
  }
  .site-header { 
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    gap: 10px;
    background: #e10600;
  }

  .site-identity {
    width: 120px;
  }
  
  .site-identity img {
    margin: .6em 0;
    display: inline-block;
    width: 100%;
  }
  
  
  .site-navigation ul, 
  .site-navigation li {
    margin: 0; 
    padding: 0;
  }

  .site-navigation a {
    text-decoration: none;
    color: #FFF;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1em;
  }